#/**
# * 
# *
# * LICENSE
# *
# * This source file is subject to the new BSD license that is bundled
# * with this package in the file LICENSE.txt.
# * If you did not receive a copy of the license, please send an email
# * to vinhnv@live.com so i can send you a copy immediately.
# *
# * @copyright Copyright (c) 2011-2015 Nguyen Van Vinh (vinhnv@live.com)
# */

# first line always is skipped
############################################################
# configuration for download
############################################################

# way download curl, fopen or file
readWay|curl
# timeout for execute curl function
timeout|300

# storage path
storePath|
# bat file name
batFilename|
# album name
downloadName|

# key for list item
start_point|itemList

## config items
# []|itemName| optioned
# [E]|itemUrl| required
# [E]|itemType| optional
# Repeat the upon information

[]|itemName|
[E]|itemUrl|
[E]|itemType|