## parameters that isn't relate to creating sample
timeZone|Asia/Ho_Chi_Minh
timeLimit|6000000
projectName|Project Name
# 10^x total issue for notify by logging
recordForLog|3

## parameters that alters creating samples

# oracle account
oracleUsername|USER_NAME
oraclePassword|123456

# rating of NULL
rateOfNull|0.0
# additional part for srand
additionalSeed|1

# time about in which issue is created, in past or multiple of time about
# unit is month, length of time step is max - min + 1 (1 month ~ 30days)
timeStep|min|0
timeStep|max|11
# total issue per time step
recordPerStep|100000
# total record per thread, issues is automatically allocate into different time step
recordPerThread|10
# thread number, thread has additional information i.e. 2 2.1 2.2 ...
thread|2
