#/**
# * 
# *
# * LICENSE
# *
# * This source file is subject to the new BSD license that is bundled
# * with this package in the file LICENSE.txt.
# * If you did not receive a copy of the license, please send an email
# * to vinhnv@live.com so i can send you a copy immediately.
# *
# * @copyright Copyright (c) 2011-2015 Nguyen Van Vinh (vinhnv@live.com)
# */

#######################################################
# this config is reading at every init log
#######################################################

###### key for class attributes (static) ######
start_point|static

# total log
nlog|10

# switch do and not do anything
noLog|0

# output to screen or file
isEcho|0

## where's writing
# set log path
logFilePath|
# set log name
logFileName|

# whether show log path
showLogPath|0

# default mode of logging
mode|a

## additional information of logging
# set delimiter of values
PHP|separate|PHP_EOL
# whether log include datetime
hasDatetime|1

###### key for object attributes ######
start_point|object

# property author
author|vinhnv@live.com